@font-face {
  font-family: Neometric;
  src: url("../font/NEOMETRIC-EXTRA-BOLD-(BOLD).OTF");
  font-weight: bold;
}

@font-face {
  font-family: Neometric;
  src: url("../font/NEOMETRIC-REGULAR.OTF");
  font-weight: normal;
}

.header-height {
  height: 100px;
}

.gradient-bg-blue {
  background: linear-gradient(#215d93, #0094d2);
}

.main-carousel-data {
  text-align: center;
}

@media (min-width: 1024px) {
  .main-carousel-data {
    margin-left: calc(100% - 50%);
  }
  .header-height {
    height: 120px;
  }
  .height-519 {
    height: 519px;
  }
  .height-405 {
    height: 405px;
  }
  .height-458 {
    height: 458px;
  }
  .height-306 {
    height: 306px;
  }
  .height-444 {
    height: 444px;
  }
}

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
