@font-face {
  font-family: geometric_415_black;
  src: url("../font/geometric_415_black.ttf");
  font-weight: bold;
}

.header-height {
  height: 100px;
}

@media (min-width: 1024px) {
  .carousel-margin-left {
    margin-left: calc(100% - 50%);
  }
  .header-height {
    height: 120px;
  }
  .height-519 {
    height: 519px;
  }
  .height-405 {
    height: 405px;
  }
  .height-458 {
    height: 458px;
  }
  .height-306 {
    height: 306px;
  }
  .height-444 {
    height: 444px;
  }
}

b {
  font-family: geometric_415_black;
}

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
